<div class="home-banner-top">
  <div class="card col-md-6 banner-box">
    <div class="card-body">
      <h2>Spare dir die Vorlesung!</h2>
      <p>
        bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla
        blub
      </p>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>

<div class="advantages-wrapper">
  <h3>Du willst schneller lernen?</h3>
  <div class="row advantages-box">
    <app-advantage class="col-md-3" [advID]="0"></app-advantage>
    <app-advantage class="col-md-3" [advID]="1"></app-advantage>
    <app-advantage class="col-md-3" [advID]="2"></app-advantage>
  </div>
</div>

<div class="info-banner">
  <div id="info-1" class="info row">
    <img class="col-md-4" src="/assets/sample.JPG" alt="" />
    <div class="info-text col-md-5">
      <h3>Das ist hieran geil!</h3>
      <p>
        bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla
        blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub
        bli bla blub bli bla blub
      </p>
    </div>
  </div>
  <div id="info-2" class="info row">
    <img class="col-md-4" src="/assets/sample.JPG" alt="" />
    <div class="info-text col-md-5">
      <h3>Das ist hieran geil!</h3>
      <p>
        bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla
        blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub
        bli bla blub bli bla blub
      </p>
    </div>
  </div>
</div>
