<div class="home-banner-top">
  <div class="card col-md-6 banner-box">
    <div class="card-body">
      <h2>Spare dir die Vorlesung!</h2>
      <p>
        bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla
        blub
      </p>
      <app-searchfield
        class="search-field"
        (changeSelectValue)="onChangeSelectValue($event)"
      ></app-searchfield>
    </div>
  </div>
</div>

<div class="advantages-wrapper">
  <h3>Du willst schneller lernen?</h3>
  <div class="row advantages-box">
    <app-advantage class="col-md-3" [advID]="0"></app-advantage>
    <app-advantage class="col-md-3" [advID]="1"></app-advantage>
    <app-advantage class="col-md-3" [advID]="2"></app-advantage>
  </div>
</div>

<div class="info-banner">
  <div id="info-1" class="info row">
    <img class="col-md-4" src="/assets/sample.JPG" alt="" />
    <div class="info-text col-md-5">
      <h3>Strukturierte Zusammenfassung mit Sinnabschnitten</h3>
      <p>
        Lerne für deine Vorlesung wann und wo du willst. Lerne mit
      </p>
    </div>
  </div>
  <div id="info-2" class="info row">
    <img class="col-md-4" src="/assets/sample.JPG" alt="" />
    <div class="info-text col-md-5">
      <h3>Das ist hieran geil!</h3>
      <p>
        bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla
        blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub
        bli bla blub bli bla blub
      </p>
    </div>
  </div>
</div>
