<div class="home-banner-top">
  <div class="card col-md-6 banner-box">
    <div class="card-body">
      <h4>Learn Smart. Not Hard!</h4>
      <p>
        Suche einfach nach Deiner Hochschule, vielleicht hat schon jemand Deine
        Vorlesung in Videoform zusammengefasst!
      </p>
      <app-searchfield
        class="search-field"
        (changeSelectValue)="onChangeSelectValue($event)"
      ></app-searchfield>
    </div>
  </div>
</div>

<div class="advantages-wrapper">
  <h3>Video-Zusammenfassungen Deiner Kommilitonen!</h3>
  <div class="row advantages-box">
    <app-advantage class="col-md-3" [advID]="0"></app-advantage>
    <app-advantage class="col-md-3" [advID]="1"></app-advantage>
    <app-advantage class="col-md-3" [advID]="2"></app-advantage>
  </div>
</div>

<div class="container mt-5">
  <div class="row my-4">
    <img
      class="col-md-6 shadow"
      src="/assets/sample.JPG"
      alt=""
      style="object-fit: cover;"
    />
    <div class="col-md-6 mt-3 mt-md-0">
      <h3>Strukturierte Zusammenfassung mit Sinnabschnitten</h3>
      <p>
        Lerne für Deine Vorlesung wann Du willst, wo Du willst und in Deinem
        Tempo! Auf Unserer Plattform kannst Du dich Schritt für Schritt durch
        die Zusammenfassung arbeiten. Du kannst ein Thema schon? Kein Problem,
        überspringe es einfach!
      </p>
    </div>
  </div>
  <div class="row my-4">
    <img
      class="col-md-6 shadow"
      src="\assets\screenshot-auswahl.jpg"
      alt=""
      style="object-fit: cover;"
    />
    <div class="col-md-6 mt-3 mt-md-0">
      <h3>Wähle nur die besten Zusammenfassungen</h3>
      <p>
        Nachdem du Deine Hochschule ausgewählt hast, finde die passende
        Vorlesung in Unserer Videosammlung. Die Videos werden von Deinen
        Kommilitonen und Dir bewertet. So kannst du sicherstellen, dass Die
        Videos von Qualität sind. Außerdem kannst du mit einer Videoprobe
        herausfinden, ob dir der Sprecher gefällt.
      </p>
    </div>
  </div>
</div>
