div.home-banner-top {
  width: 100%;
  min-height: 60%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/assets/geometry.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  div.banner-box {
    padding: 5%;
    margin-left: 14%;
    max-width: 95%;
    background-color: #edf2f4;
  }
  .search-field {
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  div.banner-box {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: none;
  }
}

@media only screen and (min-width: 700px) {
  .search-field {
    width: 90% !important;
  }

  div.banner-box {
    padding: 5%;
    width: 50%;
  }
}

.advantages-wrapper {
  background-color: #8d99ae;
  margin-bottom: 40px;
  h3 {
    color: white;
    line-height: 100px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    color: white;
  }
}

div.advantages-box {
  min-height: 17.5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

div.info-banner {
  .info {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
  }
}
