<div class="card mb-4 shadow-sm">
  <div
    class="card-img-top img-top"
    style="height: 225px; background-color: grey;"
  >
    <img src="/assets/HdM_Logo.svg.png" alt="" />
    <h4 class="text-center">Künstliche Intelligenz</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Medien Informatik</h5>
    <p class="card-text">
      Ich werde mit dir unter anderem Entscheidungsbäume, Bayes Netze,
      Wahrscheinlichkeitsrechnung, SLP und MLP durchgehen und dich für die
      Prüfung vorbereiten.
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Watch-Sample
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Kaufen
        </button>
      </div>
      <small class="text-muted">4h 52min</small>
    </div>
  </div>
</div>
