<div class="card bg-light shadow-sm">
  <div class="thumbnail-container">
    <div class="thumbnail-blur-overlay">
      <img class="card-img-top" [src]="_course.thumbnail" alt="" />
    </div>
    <div class="thumbnail-overlay">
      <h3 class="text-light text-center">
        {{ _course.lecture.name }}
      </h3>
      <div class="text-light font-weight-light text-center">
        Bei
        {{ _course.lecture.lecturer }}
      </div>
    </div>
    <div *ngIf="!_course.isAvailable" class="badge badge-light">
      In Kürze verfügbar
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ _course.name }}</h4>
    <div class="card-subtitle text-muted">{{ _course.author }}</div>
    <p class="card-text">
      {{ _course.description }}
    </p>
    <div class="row mx-n1 my-3 align-items-center" style="cursor: pointer;">
      <div *ngFor="let starValue of starValues" class="col-auto px-1">
        <svg
          *ngIf="_course.rating >= starValue"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"
            fill="#F4C150"
          />
        </svg>
        <svg
          *ngIf="_course.rating > starValue - 1 && _course.rating < starValue"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524v-12.005zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
            fill="#F4C150"
          />
        </svg>
        <svg
          *ngIf="_course.rating <= starValue - 1"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
            fill="#F4C150"
          />
        </svg>
      </div>
      <div class="col-auto px-1 font-weight-bold">
        {{ _course.rating }}
      </div>
      <div class="col-auto px-1 font-weight-light">
        ({{ _course.reviewCount }})
      </div>
    </div>
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">{{ duration }}</div>
      <div class="col-auto">
        <div class="row mx-n1 align-items-center">
          <div
            class="col-auto px-1"
            style="font-size: 0.8rem; text-decoration: line-through;"
          >
            {{ _course.price }}€
          </div>
          <div
            class="col-auto px-1 font-weight-bold"
            style="font-size: 1.2rem;"
          >
            {{ _course.discountedPrice }}€
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
