<div class="advantage-wrapper">
  <ng-container *ngIf="advID == 0">
    <img src="\assets\student-icon.png" alt="" />
    <h5>Effizientes Lernen</h5>
    <p>
      Statt zu jeder Vorlesung zu gehen, schau dir nur das wichtigste für die
      Klausur an.
    </p>
  </ng-container>

  <ng-container *ngIf="advID == 1">
    <img src="\assets\price-tag-icon.png" alt="" />
    <h5>Fairer Preis</h5>
    <p>
      Profitiere von unserem Sale an jedem Semesterende und sichere dir 40% auf
      alle Zusammenfassungen!
    </p>
  </ng-container>

  <ng-container *ngIf="advID == 2">
    <img src="\assets\explaining-person-icon.png" alt="" />
    <h5>Vorlesungen deiner Hochschule</h5>
    <p>Bli Bla Blub Bli Bla Blub Bli Bla Blub Bli Bla Blub Bli Bla Blub</p>
  </ng-container>
</div>
