<div class="advantage-wrapper">
  <ng-container *ngIf="advID == 0">
    <img src="\assets\student.svg" alt="" />
    <h5>Effizienteres Lernen</h5>
    <p>
      Statt zu jeder Vorlesung zu gehen, schau dir nur das wichtigste für die
      Klausur an.
    </p>
  </ng-container>

  <ng-container *ngIf="advID == 1">
    <img src="\assets\price-tag.svg" alt="" />
    <h5>Fairer Preis</h5>
    <p>
      Statt dein Geld für drei Cocktails zu verwenden, eine vollwertige
      Nachhilfe für Deine Vorlesung kaufen!
    </p>
  </ng-container>

  <ng-container *ngIf="advID == 2">
    <img src="\assets\explaining-person.svg" alt="" />
    <h5>Die Nachhilfe zum Pause drücken</h5>
    <p>
      Deine Vorlesungen strukturiert in Video-Format von deinen Kommilitonen
    </p>
  </ng-container>
</div>
