<div class="advantage-wrapper">
  <ng-container *ngIf="advID == 0">
    <img src="\assets\explaining-person.svg" alt="" />
    <h5>Noch nicht alles verstanden?</h5>
    <p>
      Lass dir nochmal in Ruhe die Vorlesungsinhalte Schritt für Schritt
      erklären.
    </p>
  </ng-container>

  <ng-container *ngIf="advID == 1">
    <img src="\assets\school.svg" alt="" />
    <h5>Lerne wo und wann du willst</h5>
    <p>
      Keine Lust um 8.15 Uhr an der Uni zu sein? Lerne mit uns und entscheide
      selbst wann du anfangen willst.
    </p>
  </ng-container>

  <ng-container *ngIf="advID == 2">
    <img src="\assets\marketing.svg" alt="" />
    <h5>Bewertungen deiner Kommilitonen</h5>
    <p>
      Überzeuge dich von der Qualität der Zusammenfassungen über die Kommentare
      und Bewertungen deiner Kommilitonen
    </p>
  </ng-container>
</div>
