<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>HDM Videozusammenfassungen</h1>
      <p class="lead">
        Hier findest du alle Zusammenfassungen von den Studiengängen Mobile
        Medien und Medieninformatik
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div *ngFor="let image of images" class="col-md-4">
          <app-video-container></app-video-container>
        </div>
      </div>
    </div>
  </div>
</main>
