:host {
  display: block;

  .modal-header {
    background-color: #2b2d42;
  }

  button.purchase-button {
    background-color: #ef233c !important;
    border-color: #ef233c !important;

    &:hover {
      background-color: #d90429 !important;
      border-color: rgb(217, 4, 41) !important;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem #d9042980 !important;
    }
  }

  video {
    width: 100%;
    max-width: 600px;
  }

  svg.close-icon {
    width: 1.25rem;
    height: 1.25rem;

    box-sizing: content-box;

    padding: 0.3125rem;

    & > path {
      fill: #f8f9fa !important;
    }
  }
}
