<div class="modal fade" id="courseModal" tabindex="-1" data-backdrop="static">
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-light">Steckbrief der Zusammenfassung</h5>
        <button class="close" (click)="onClickCloseButton($event)">
          <svg
            class="close-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
            />
          </svg>
        </button>
      </div>
      <div class="modal-body py-4">
        <div class="cotainer-fluid">
          <div>
            <h6>
              Allgemeines:
            </h6>
            <div>
              <span class="font-weight-bold">Titel:</span>
              {{ _selectedCourse.name }}
            </div>
            <div>
              <span class="font-weight-bold">Autor:</span>
              {{ _selectedCourse.author }}
            </div>
            <div>
              <span class="font-weight-bold">Laufzeit:</span>
              {{ duration }}
            </div>
          </div>
          <div class="mt-4">
            <h6>
              Beschreibung der Zusammenfassung:
            </h6>
            <div>
              {{ _selectedCourse.description }}
            </div>
          </div>
          <div class="mt-4">
            <h6>
              Inhaltsangabe:
            </h6>
            <ul style="list-style: none; padding-left: 0px;">
              <li
                *ngFor="
                  let section of _selectedCourse.sections;
                  index as sectionIndex
                "
              >
                {{ sectionIndex + 1 }}. {{ section.name }}
                <ul
                  style="list-style: none;"
                  *ngIf="section.subSections.length > 0"
                >
                  <li
                    *ngFor="
                      let subSection of section.subSections;
                      index as subSectionIndex
                    "
                  >
                    {{ sectionIndex + 1 }}.{{ subSectionIndex + 1 }}.
                    {{ subSection.name }}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="mt-4">
            <h6>
              Video-Probe:
            </h6>
            <video controls [src]="_selectedCourse.previewVideo"></video>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <div class="d-flex mx-n1 align-items-center" style="cursor: pointer;">
          <div *ngFor="let starValue of starValues" class="px-1">
            <svg
              *ngIf="_selectedCourse.rating >= starValue"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"
                fill="#F4C150"
              />
            </svg>
            <svg
              *ngIf="
                _selectedCourse.rating > starValue - 1 &&
                _selectedCourse.rating < starValue
              "
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524v-12.005zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
                fill="#F4C150"
              />
            </svg>
            <svg
              *ngIf="_selectedCourse.rating <= starValue - 1"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 5.173l2.335 4.817 5.305.732-3.861 3.71.942 5.27-4.721-2.524-4.721 2.525.942-5.27-3.861-3.71 5.305-.733 2.335-4.817zm0-4.586l-3.668 7.568-8.332 1.151 6.064 5.828-1.48 8.279 7.416-3.967 7.416 3.966-1.48-8.279 6.064-5.827-8.332-1.15-3.668-7.569z"
                fill="#F4C150"
              />
            </svg>
          </div>
          <div class="px-1 font-weight-bold">
            {{ _selectedCourse.rating }}
          </div>
          <div class="px-1 font-weight-light">
            ({{ _selectedCourse.reviewCount }})
          </div>
        </div>
        <div class="d-flex mx-n1 align-items-center">
          <div
            class="px-1"
            style="font-size: 0.8rem; text-decoration: line-through;"
          >
            {{ _selectedCourse.price }}€
          </div>
          <div class="px-1 font-weight-bold" style="font-size: 1.2rem;">
            {{ _selectedCourse.discountedPrice }}€
          </div>
          <div class="px-1">
            <button
              (click)="onClickPurchaseButton($event)"
              class="btn btn-primary purchase-button"
            >
              Zum Warenkorb hinzufügen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
