.card {
  background-color: #ef233c;
  color: white;
  font-weight: 700;
  border-radius: 0;
  padding-right: 35px;
  padding-left: 35px;
}

.banner-wrapper {
  position: relative;
}

img {
  position: absolute;
  height: 20px;
  right: 1%;
  top: 50%;
  transform: translate(-50%, -50%);
}
