<div class="card border-light bg-light shadow-sm">
  <img class="card-img-top" [src]="course.thumbnail" alt="" />
  <div class="card-body">
    <h5 class="card-title">{{ course.name }}</h5>
    <div class="font-weight-light mb-1">{{ course.author }}</div>
    <p class="card-text">
      {{ course.description }}
    </p>
    <div class="row justify-content-end">
      <div class="col-auto px-1">{{ course.price }}</div>
      <div class="col-auto px-1 font-weight-bold">
        {{ course.discountedPrice }}
      </div>
    </div>
  </div>
</div>
