<div class="home-banner-top">
  <div class="card banner-box">
    <div class="card-body">
      <h2>Spare dir die Vorlesung!</h2>
      <p>
        bli bla blub bli bla blub bli bla blub bli bla blub bli bla blub bli bla
        blub
      </p>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>
<div class="advantages-box">
  <div class="card advantage">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
