div.home-banner-top {
  width: 100%;
  height: 60%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div.banner-box {
    width: 35%;
    height: 80%;
    background-color: white;
    margin-left: 50px;
    div.card-body {
      h2 {
      }
      p {
      }
      input {
      }
    }
  }
}

div.advantages-box {
  height: 40%;
  .advantage {
    height: 100%;
    width: 33%;
    .row {
      height: 100%;
      .card-body {
        height: 100%;
      }
    }
  }
}
